{% extends 'base/base.html' %}
{% block content %}

<div id="UpperHeader">
        <p>Приветствую, {{user.username}}!</p>
        <a href="{% url 'logout' %}">Выйти</a>
</div>
<hr>

<a href="{% url 'home' %}">Назад на Главную</a>
<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
    <table class="CenterTable">
        <tr>
            <td>Аудио:</td>
            <td><input type="file" id="profile_pic" name="profile_pic" accept=".mp3"></td>
        </tr>
    </table>
    <p></p>
    <input type="submit" value="Submit">
    <p></p>
</form>

{% endblock content %}