{% extends 'base/base.html' %}
{% block content %}
<table>
    <tr>
        <td><a href="{% url 'track-delete' track.id %}">Удалить</a></td>
        <td><a href="{% url 'home' %}">Главная</a></td>
        <td><a href="{% url 'track' track.id %}">Назад</a></td>
    </tr>
</table>

<p></p>
    <div id="TrackFormDiv">
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit">
            <p></p>
        </form>
    </div>
{% endblock content %}