{% extends 'base/base.html' %}
{%  block content %}

<div id="UpperHeader">
    {% if user.is_authenticated %}
        <h3 align="center">Приветствую, {{user.username}}!</h3>
        <table>
            <tr>
                <td>{% if user.is_superuser %}<a href="{% url 'track-update' track.id %}">Редактировать</a>{% endif %}</td>
                <td></td>
                <td><a align="right" href="{% url 'logout'  %}">Выйти</a></td>
            </tr>
        </table>

    {% else %}
        <table>
            <tr>
                <td></td>
                <td></td>
                <td><a align="right" href="{% url 'login' %}">Логин</a></td>
            </tr>
        </table>
    {% endif %}
</div>  
<hr>

<a href="{% url 'home' %}">Назад на Главную</a>
<p></p>
<table class="CenterTable">
    <tr>
        <td>Название:</td>
        <td>{{track.title}}</td>
    </tr>
    <tr><td><p></p></td></tr>
    <tr>
        <td>Исполнитель:</td>
        <td>{{track.artist}}</td>
    </tr>
    <tr><td><p></p></td></tr>
    <tr>
        <td>Жанр:</td>
            {%for item in track.genre.all%}
            <td>{{item}};</td>
            {% endfor %}
    </tr>
    <tr><td><p></p></td></tr>
    <tr>
        <td>Описание:</td>
        {% if track.description %}
            <td>{{track.description}}</td>
        {% else %}
            <td>Отсутсвует.</td>
        {% endif %}
    </tr>
</table>
<p></p>
<hr>
<div class="audioDiv" >
    <audio src="/static/musics/{{track.audioFile}}" type="audio/mpeg" controls></audio>
</div>  
{% endblock content %} 