body {
    background: linear-gradient( rgb(0, 0, 0) 60%, rgb(0, 0, 125));
    color: rgb(0, 0, 180);
    flex: 1 0 auto;
    min-height: 100vh;
    text-align: center;
}
#MainDiv {
    border: 0px;
    text-align: right;
}
#GlobalDiv {
    border: 4px solid rgb(0, 0, 125);
    background: rgb(0, 0, 0);
    font-size: large;
    margin-right: 20px;
    border-radius: 5px;
    margin: auto;
}
.footer {
    border: 0px solid rgb(125, 0, 125);
    background: rgba(0, 0, 0, 0);
    font-size: large;
    margin-right: 20px;
    border-radius: 1px;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    align-self: flex-end;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    position: relative;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    flex: 0 0;
}
.container {
    width:  80%;
    padding: 20px;
    padding-top: 5px;
    -webkit-box-shadow: 13px 13px 13px 13px rgba(0, 0, 125, 0.21);
    box-shadow: 13px 13px 13px 13px rgba(0, 0, 125, 0.21);
    font-size: large;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(0, 0, 125);
    background-color: rgb(0, 0, 0);
    margin-right: 20px;
    border-radius: 5px;
    margin: auto;
}
hr {
    width: 100%;
    border: 1px solid rgb(0, 180, 180);
}

td {
    border: 0px solid rgb(100, 0, 0);
    text-align: center;
    width: 1000px;
}
a {
    color: blue;
    text-decoration: none;
    padding: 5px;
}